<form [formGroup]="emailGroup">
  <mat-list>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>E-mail cím</mat-label>
        <input
          type="email"
          formControlName="email"
          placeholder="email.cim@pelda.com"
          matInput
          required>
        <mat-icon matSuffix>alternate_email</mat-icon>
        <mat-error>
          Kérem adjon meg egy valós email címet!
        </mat-error>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>E-mail cím mégegyszer</mat-label>
        <input
          type="email"
          formControlName="confirmEmail"
          placeholder="email.cim@pelda.com"
          matInput
          required
          onDrag="return false"
          onDrop="return false"
          onAutocomplete="return false"
          autocomplete=off>
        <mat-icon matSuffix>alternate_email</mat-icon>
        <mat-error>
          Az email címeknek egyezniük kell.
        </mat-error>
      </mat-form-field>
    </mat-list-item>
  </mat-list>
</form>
