<h1 mat-dialog-title>Adatok ellenőrzése</h1>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>E-mail cím</mat-label>
        <input
          value="{{data.basicData.controls.email.value}}"
          matInput
          disabled>
        <mat-icon matSuffix>alternate_email</mat-icon>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Vezetéknév</mat-label>
        <input
          value="{{data.basicData.controls.lastName.value}}"
          matInput
          disabled>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Keresztnév</mat-label>
        <input
          value="{{data.basicData.controls.firstName.value}}"
          matInput
          disabled>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Telefonszám</mat-label>
        <input
          value="{{data.basicData.controls.phoneNumber.value}}"
          matInput
          disabled>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Ország</mat-label>
        <input
          value="{{data.basicData.controls.country.value.name}}"
          matInput
          disabled>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Irányítószám</mat-label>
        <input
          value="{{data.basicData.controls.zipCode.value}}"
          matInput
          disabled>
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Település</mat-label>
        <input
          value="{{data.basicData.controls.city.value}}"
          matInput
          disabled>
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
    </mat-list-item>
  </mat-list>
  <mat-list *ngIf="data.billingData.controls.newBillingAddress.value">
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Számlázási név</mat-label>
        <input
          value="{{data.billingData.controls.billingName.value}}"
          matInput
          disabled>
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Adószám</mat-label>
        <input
          value="{{data.billingData.controls.billingTaxNumber.value}}"
          matInput
          disabled>
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onModifyClick()">Módosítás</button>
  <button mat-button (click)="onOkClick()">Helyes</button>
</div>
