<h1 mat-dialog-title>Adatok ellenőrzése</h1>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>E-mail cím</mat-label>
        <input
          disabled
          matInput
          value="{{data.basicData.controls.email.value}}">
        <mat-icon matSuffix>alternate_email</mat-icon>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Vezetéknév</mat-label>
        <input
          disabled
          matInput
          value="{{data.basicData.controls.lastName.value}}">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Keresztnév</mat-label>
        <input
          disabled
          matInput
          value="{{data.basicData.controls.firstName.value}}">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Telefonszám</mat-label>
        <input
          disabled
          matInput
          value="{{data.basicData.controls.phoneNumber.value}}">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Ország</mat-label>
        <input
          disabled
          matInput
          value="{{data.basicData.controls.country.value.name}}">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Irányítószám</mat-label>
        <input
          disabled
          matInput
          value="{{data.basicData.controls.zipCode.value}}">
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Település</mat-label>
        <input
          disabled
          matInput
          value="{{data.basicData.controls.city.value}}">
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
    </mat-list-item>
  </mat-list>
  <mat-list *ngIf="data.billingData.controls.newBillingAddress.value">
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Számlázási név</mat-label>
        <input
          disabled
          matInput
          value="{{data.billingData.controls.billingName.value}}">
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Számlázási adószám</mat-label>
        <input
          disabled
          matInput
          value="{{data.billingData.controls.billingTaxNumber.value}}">
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
    </mat-list-item>
  </mat-list>
</div>
<div align="end" mat-dialog-actions>
  <button (click)="onModifyClick()" mat-button tabindex="-1">Módosítás</button>
  <button (click)="onOkClick()" mat-button tabindex="-1">Helyes</button>
</div>
