<mat-list>
  <mat-list-item class="input-bottom-margin">
    <p>
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Vezetéknév</mat-label>
        <input
          type="text"
          matInput
          [formControl]="lastName"
          placeholder="Próba"
          required>
        <mat-icon matSuffix>person</mat-icon>
        <mat-error>Legalább 2 karakter hosszú vezetéknév megadása kötelező.</mat-error>
      </mat-form-field>
    </p>
  </mat-list-item>
  <mat-list-item class="input-bottom-margin">
    <p>
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Keresztnév</mat-label>
        <input
          type="text"
          matInput
          [formControl]="firstName"
          placeholder="István"
          required>
        <mat-icon matSuffix>person</mat-icon>
        <mat-error>Legalább 3 karakter hosszú keresztnév megadása kötelező.</mat-error>
      </mat-form-field>
    </p>
  </mat-list-item>
</mat-list>
