<form  [formGroup]="billingGroup">
  <mat-checkbox formControlName="newBillingAddress">Számlázási adatok eltérnek</mat-checkbox>

  <mat-list *ngIf="billingGroup.controls.newBillingAddress.value">

    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Számlázási név</mat-label>
        <input
          type="text"
          formControlName="billingName"
          placeholder="Nagy Béla"
          matInput
          required>
        <mat-icon matSuffix>person</mat-icon>
        <mat-error>
          Legalább 5 karakter hosszú név megadása kötelező.
        </mat-error>
      </mat-form-field>
    </mat-list-item>

    <mat-list-item class="input-bottom-margin">
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Adószám</mat-label>
        <input
          type="text"
          formControlName="billingTaxNumber"
          placeholder="12345678-2-12"
          matInput
          required>
        <mat-icon matSuffix>payment</mat-icon>
        <mat-error>
          Kérem adjon meg egy valós adószámot!
        </mat-error>
      </mat-form-field>
    </mat-list-item>
  </mat-list>
</form>
