<mat-list>
  <mat-list-item class="input-bottom-margin">
    <p>
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Irányítószám</mat-label>
        <input
          type="text"
          matInput
          [formControl]="zipInput"
          placeholder="4024"
          required>
        <mat-icon matSuffix>home</mat-icon>
        <mat-error>Kérem adjon meg egy irányítószámot!</mat-error>
      </mat-form-field>
    </p>
  </mat-list-item>
  <mat-list-item class="input-bottom-margin">
    <p>
      <mat-form-field appearance="standard" class="input-width">
        <mat-label>Település</mat-label>
        <input
          type="text"
          matInput
          [value]="zipCityMap.get(zipInput.value)"
          placeholder="Debrecen"
          required>
        <mat-icon matSuffix>home</mat-icon>
        <mat-error>Kérem adjon meg egy várost!</mat-error>
      </mat-form-field>
    </p>
  </mat-list-item>
</mat-list>
