.content {
  background-color: #eaeaea;
  display: flex;
  padding: 2em;
  flex-direction: column;
  align-items: center;
}

.input-width {
  width: 50vw;
}

.input-bottom-margin {
  margin-bottom: 2em;
}

.card-width {
  min-width: 400px;
}

.header {
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 0.75em;
  margin-right: 0.75em;
}
