<div class="content" role="main">
  <mat-card class="card-width">

    <div>
      <h2 class="header">Alap adatok</h2>
    </div>
    <div>
      <app-email-validator>loading</app-email-validator>
    </div>
    <div>
      <app-name-validator>loading</app-name-validator>
    </div>
    <div>
      <app-phone-validator>loading</app-phone-validator>
    </div>
    <div>
      <app-country-validator>loading</app-country-validator>
    </div>
    <div>
      <app-zip-city-autofill>loading</app-zip-city-autofill>
    </div>
    <mat-card-actions align="end">
      <button mat-button>Continue</button>
    </mat-card-actions>
  </mat-card>

</div>
